<div class="container">
    <footer class="footer">
        <a href="#"><img class="arrow" src="./assets/images/ico-arrow.svg" alt="Ir al inicio de la página"></a>
        <nav class="navigation">
            <ul class="navigation_list">
                <li class="item"><a class="item_link" href="#articles">articles</a></li>
                <li class="item"><a class="item_link" href="#books">books</a></li>
                <li class="item"><a class="item_link" href="#events">events</a></li>
                <li class="item"><a class="item_link" href="#reasons">reasons</a></li>
                <li class="item"><a class="item_link" href="#tips">tips</a></li>
            </ul>
        </nav>
        <div class="social_networks">
            <ul class="social_networks-list">
                <li class="item"><a class="item_link" href="www.twitter.com">twitter</a></li>
                <li class="item"><a class="item_link" href="www.instagram.com">instagram</a></li>
                <li class="item"><a class="item_link" href="www.mastodon.social">mastodon.social</a></li>
            </ul>
        </div>
        <div class="copyright">
            <span class="copyright_year">©2017</span>
            <span class="copyright_owner">we ❤ components</span>
        </div>
    </footer>
</div>