<footer class="footer">
    <a href="#"><img class="arrow" src="./assets/images/ico-arrow.svg" alt="Ir al inicio de la página"></a>
    <nav class="navigation">
        <ul class="navigation_list">
            <li><a href="#articles">articles</a></li>
            <li><a href="#books">books</a></li>
            <li><a href="#events">events</a></li>
            <li><a href="#reasons">reasons</a></li>
            <li><a href="#tips">tips</a></li>
        </ul>
    </nav>
    <div class="social_networks">
        <ul class="social_networks-list">
            <li><a href="www.twitter.com">twitter</a></li>
            <li><a href="www.instagram.com">instagram</a></li>
            <li><a href="www.mastodon.social">mastodon.social</a></li>
        </ul>
    </div>
    <div class="copyright">
        <span>©2017</span>
        <span>we ❤ components</span>
    </div>
</footer>