<main class="main">
    <div class="container">
        <section class="section_one">
            <p class="section_title-mini">Insomnia Tips</p>
            <h2 class="section_one-title">Looking Through A Window</h2>
            <p class="section_one-text">Donec accumsan, nulla ut volupat porttitor, quam odio tempus felis, at luctus ex
                diam nec lectus. Vivamus
                semper sodales rutrum.</p>
            <a class="section_one-btn" href="#">go</a>
        </section>
    </div>
    <section class="section_two" id="reasons">
        <h2 class="section_two-title">3 Reasons To Purchase</h2>
        <div class="reason_one">
            <h3 class="reason_one-title">Ut sed metus</h3>
            <p class="reason_one-text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reason_two">
            <h3 class="reason_two-title">Curabitur ac erat</h3>
            <p class="reason_two-text">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reason_three">
            <h3 class="reason_three-title">Morbi dictum</h3>
            <p class="reason_three-text">Aliquam in dolor et dolor tincidunt</p>
        </div>
        <a class="section_two-btn" href="#">More reasons</a>
    </section>
</main>