<main class="main">
    <div class="container">
        <section class="section_one">
            <p class="section_title-mini">Insomnia Tips</p>
            <h2 class="section_one-title">Looking Through A Window</h2>
            <p class="section_one-text">Donec accumsan, nulla ut volupat porttitor, quam odio tempus felis, at luctus ex
                diam nec lectus. Vivamus
                semper sodales rutrum.</p>
            <a class="section_one-btn" href="#">go</a>
        </section>
        <section class="section_two">
            <h2 class="section_two-title">3 Reasons To Purchase</h2>
            <div class="reason_one">
                <h3 class="reason_title">ut sed metus</h3>
                <p class="reason_text">lorem ipsum dolor sit amet, consecteur.</p>
            </div>
            <div class="reason_two">
                <h3 class="reason_title">curabitur ac erat</h3>
                <p class="reason_text">mauris mattis urna quis lorem molestie.</p>
            </div>
            <div class="reason_three">
                <h3 class="reason_title">morbi dictum</h3>
                <p class="reason_text">aliquam in dolor et dolor tincidunt</p>
            </div>
            <a href="#">more reasons</a>
        </section>
    </div>
</main>