.footer{
    background: $dark-grey-blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container_footer{
    @media (min-width:768px){
        width: 90%;
    }
    @media (min-width:1280px){
        width: 42%;
    }
}
.arrow{
    background-color: $white;
    border-radius: 50%;
    padding:  10px 12px;
    transform: translateY(-22px);
}
.footer_section{
    @media (min-width:768px){
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        text-align: left;
    }
    .navigation{
     margin-bottom: 15px;
        &_list{
            color: $white;
            .item{
                &_link{
                    @include item;
                }
            }
        }
    }

    .social_networks{
        margin: 15px 0px;
        @media (min-width:768px){
            margin: 0;
        }
        &-list{
            .item{
                &_link{
                    @include item;
                }
            }
        }
    }
    .copyright{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 45px;
        @media (min-width:768px){
            order: -1;
            margin-top: 0;
        }
        &_year{
            @include copy;
            @media (min-width:768px){
                text-align: left;
            }
        }
        &_owner{
            @include copy;
            .heart{
                color: $bright-orange;
            }
        }
    }
}