.footer{
    background-color: $dark-grey-blue;
    display: flex;
    align-items: center;
}
.arrow{
    background-color: $white;
    border-radius: 50%;
    padding:  10px 12px;
}
.navigation{
    &_list{
        color: $white;
        .item{
            &_link{
                @include item;
            }
        }
    }
}
.social_networks{
    &-list{
        .item{
            &_link{
                @include item;
            }
        }
    }
}
.copyright{
    &_year{

    }
    &_owner{

    }
}