.header{
    background-image: url(../images/cover.jpg);
    background-position-x: center;
    height: 100vh;
    @media (min-width:768px){
        background-size: cover; 
    }
    .menu_image{
        background-color: $cerulean;
        position: fixed;
        padding: 15px;
        transform: translateX(-15px);
        @media (min-width:768px){
            transform: translateX(-39px);
        }
    }
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100vh; 
        &_title{
           text-transform: uppercase; 
           color: $white;
           @include roboto-bold;
           font-size: 2.625rem;
           line-height: 55px;
           text-align: center;
           padding-bottom: 5px;
           @media (min-width:768px){
               font-size: 5rem;
               line-height: 106px;
               padding-bottom: 10px;
           }
        }
        &_text{
            color: $white;
            @include roboto-regular;
            font-size: 1rem;
            padding-top: 5px;
            @media (min-width:768px){
                font-size: 1.5rem;
                padding-top: 10px;
            }
        }
        &_btn{
            background-color: $white;
            border-radius: 100%;
            padding: 15px;
            margin-top: 45px;
            margin-bottom: 53px;
            @media (min-width:768px){
                margin-top: 30px;
                margin-bottom: 45px;
            }
        }
    } 
}