.section_one{
    .section_title-mini{
        color: $light-blue;
        @include roboto-regular;
        font-size: 0.875rem;
        line-height: 30px;
        margin-top: 30px;
        @media (min-width:1280px){
            font-size: 1rem;
        }
    }
    &-title{
       color: $black;
       @include roboto-bold;
       font-size: 1.5rem;
       line-height: 30px;
       @media (min-width:768px){
        font-size: 1.625rem; 
        line-height: 45px;
       }
       @media (min-width:1280px){
           font-size: 2rem;
       }
    }
    &-text{
        color: $greyish-brown;
        @include roboto-regular;
        font-size: 1.125rem;
        line-height: 30px;
        padding-top: 15px;
        text-align: justify;
        margin-bottom: 30px;
        @media (min-width:768px){
            font-size: 1.25rem;
            padding-top: 30px;
        }
    }
    &-btn{
        color: $bright-orange;
        @include roboto-medium;
        font-size: 1.25rem;
        line-height: 45px;
        border: $bright-orange solid 2px;
        border-radius: 22px;
        padding: 0 25px;
        text-transform: capitalize;
        @media (min-width:768px){
            padding: 0 33px;
        }
        @media (min-width:1280px){
            padding: 0 67px;
        }
    }
}

.section_two{
    background-color: $ice-blue;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 45px;
    @media (min-width:768px){
        margin-top: 60px;
        padding-left: 35.7px;
        padding-right: 35.7px;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 27.7px;
    }
    @media (min-width:1280px){
        padding-left: 81.2px;
        padding-right: 85px;
    }
    &-title{
        color: $black;
        @include roboto-bold;
        font-size: 1.5rem;
        line-height: 30px;
        margin-top: 30px;
        margin-bottom: 45px;
        grid-column: span 4;
        @media (min-width:768px){
            font-size: 1.625rem;
            line-height: 45px;
            grid-column: span 3;
        }
        @media (min-width:1280px){
            font-size: 2rem;
            margin-top: 60px;
        }
    }
    .reason_one{
        grid-column: 2/4;
        @media (min-width:768px){
            grid-column: 1/2;
        }
        &-title{
            @include reasons-title;
        }
        &-text{
            @include reasons-text;
        }
    }
    .reason_two{
        grid-column: 2/4;
        @media (min-width:768px){
            grid-column: 2/3;
        }
        &-title{
            @include reasons-title;
        }
        &-text{
            @include reasons-text;
        }
    }
    .reason_three{
        grid-column: 2/4;
        @media (min-width:768px){
            grid-column: 3/4;
        }
        &-title{
            @include reasons-title;
        }
        &-text{
            @include reasons-text;
        }
    }
    &-btn{
        grid-column: 2/4;
        background-color: $bright-orange;
        color: $white;
        @include roboto-medium;
        font-size: 1.25rem;
        line-height: 45px;
        padding: 0 30px;
        border-radius: 23px;
        height: 45px;
        width: 100%;
        margin-bottom: 60px;
        @media (min-width:768px){
            grid-column: 2/3;
            padding: 0 43px;
        }
        @media (min-width:1280px){
            padding: 0 63px;
        }
    }
}