@mixin roboto-bold{
    font-family: $roboto-slab;
    font-weight: bold;
}
@mixin roboto-medium{
    font-family: $roboto;
    font-weight: 500;
}
@mixin roboto-regular{
    font-family: $roboto;
    font-weight: 400;
}
@mixin reasons-title{
    color: $black;
    font-size: 1.125rem;
    line-height: 30px;
    @include roboto-bold;
    @media (min-width:768px){
        font-size: 1.5rem;
        margin-bottom: 14px;
    }
}
@mixin reasons-text {
    color: $black;
    font-size: 1.125rem;
    line-height: 30px;
    @include roboto-regular;
    margin-bottom: 45px;
    @media (min-width:768px){
        font-size: 1.25rem;
        margin-bottom: 60px;
    }
}
@mixin item{
    color: $white;
    font-size: 1rem;
    line-height: 30px;
    @include roboto-regular;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    &:hover{
        color: $dark-grey-blue;
        background-color: $white;
        border-radius: 8px;
    }
}
@mixin copy{
    color: $white;
    font-size: 0.875rem;
    line-height: 30px;
    @include roboto-regular;
    text-align: center;
}

@mixin btn{
    text-transform: capitalize;
    background-color: $bright-orange;
    color: $white;
    @include roboto-medium;
    font-size: 1rem;
    line-height: 45px;
    padding: 5px 30px;
    border-radius: 23px;
    height: 45px;
    width: 100%;
    margin-bottom: 60px;
    &:hover{
        transform: scale(1.1);
        transition: ease 1s;
    }
    @media (min-width:768px){
        grid-column: 2/3;
        padding: 0 43px;
        font-size: 1.25rem;
    }
    @media (min-width:1280px){
        padding: 0 63px;
    }
    
}