@mixin roboto-bold{
    font-family: $roboto-slab;
    font-weight: bold;
}
@mixin roboto-medium{
    font-family: $roboto;
    font-weight: 500;
}
@mixin roboto-regular{
    font-family: $roboto;
    font-weight: 400;
}
@mixin reasons-title{
    color: $black;
    font-size: 1.125rem;
    line-height: 30px;
    @include roboto-bold;
    @media (min-width:768px){
        font-size: 1.5rem;
        margin-bottom: 14px;
    }
}
@mixin reasons-text {
    color: $black;
    font-size: 1.125rem;
    line-height: 30px;
    @include roboto-regular;
    margin-bottom: 45px;
    @media (min-width:768px){
        font-size: 1.25rem;
        margin-bottom: 60px;
    }
}
@mixin item{
    color: $white;
    font-size: 1rem;
    line-height: 30px;
    @include roboto-regular;
    text-align: center;
}